language: python
sudo: false
python:
    - 2.7
install:
    - pip install zc.buildout
    - buildout bootstrap
    - buildout
script:
    - bin/test -v1
notifications:
    email: false
cache:
  pip: true
  directories:
    - eggs/
