language: python
sudo: false
python:
    - 2.7
    - 3.5
    - 3.6
include:
    matrix:
        - python: "3.7"
          dist: xenial
          sudo: true
install:
    - pip install coveralls coverage
    - pip install zc.buildout
    - pip install -U six==1.10.0
    - pip install flake8
    - buildout bootstrap
    - buildout

script:
    - coverage run bin/test -v1
    - flake8 --doctests src tests setup.py
after_success:
    - coverage combine
    - coveralls

notifications:
    email: false

cache:
  pip: true
  directories:
    - eggs/
