[buildout]
extends =
    https://zopefoundation.github.io/Zope/releases/master/versions.cfg
develop = .
parts =
    test


[test]
recipe = zc.recipe.testrunner
eggs = DocumentTemplate[test]

[versions]
DocumentTemplate =
